{% extends "base.html" %}
{% block content %}
    <style>
        h1 {
            font-size: 120%;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #424242;
            text-align: center;
        }

        .box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 10px;
            position: static;
        }

        {#comment#}
        .box:hover {
            background: #DCDCDC
        }

        .item {
            width: calc(1 / 3 * 100% - (1 - 1 / 3) * 10px);
            margin: 0 0 10px;
            height: 50px;
        }

        {#comment#}
        .item:hover {
            background: magenta;
        }

        input {
            width: 100%;
            margin: 0 0 10px;
            height: 50px;
            color: #000000;
            border: 2px ridge #424242;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            background-color: #ffffff;
        }

        a {
            color: #000000;
        {#border: 2px ridge #424242;#} text-decoration: none;
            font-family: Verdana, Arial, Helvetica, sans-serif;
        }

        input:hover {
            background: #DCDCDC
        }

        .item2p {
            width: calc(1 / 2 * 100% - (1 - 1 / 2) * 10px);
            margin: 0 0 10px;
            height: 230px;
            border: 0;
        }

        {#comment#}
        .item2p:hover {
            background: magenta;
        }

        textarea {
            width: 100%;
            height: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 2px ridge #424242;
        }
    </style>
    <h1>Indexing test application</h1>

    <div class='box'>
        <div class='item'>
            <form action="create_index_flag">
                <input type="submit" value="Create indices using django_es">
            </form>
        </div>
        <div class='item'>
            <form action="create_index_flag_f">
                <input type="submit" value="Create indices using django_es_f">
            </form>
        </div>
        <div class='item'>
            <form action="alien_index1">
                <input type="submit" value="Create indices using django-elasticsearch">
            </form>
        </div>
    </div>

    <div class='box'>
        <div class='item'>
            <form action="create_index_flag_mapping">
                <input type="submit" value="Create indices with mapping using django_es">
            </form>
        </div>
        <div class='item'>
            <form action="create_index_flag_mapping_f">
                <input type="submit" value="Create indices with mapping using django_es_f">
            </form>
        </div>
        <div class='item'>
            <form>
                <input type="submit" value="Create indices using django-rest-elasticsearch">
            </form>
        </div>
    </div>

    <div class='box'>
        <div class='item2p'>
            <form action="show_index">
                <input type="submit" value="Show indices">
            </form>
            <form action="show_mapping">
                <input type="submit" value="Show mapping">
            </form>
            <form action="delete_index" method="get">
                <input type="submit" value="Delete indices">
            </form>
            <form action="show_log">
                <input type="submit" value="Show log file">
            </form>
        </div>
        <div class='item2p'>
            <textarea readonly>
                {% if messages %}
                    {% for message in messages %}
{{ message }}
                    {% endfor %}
                {% endif %}
        </textarea>

        </div>

    </div>
    <br>
    <div class="box">
        <a href="pictures"> Pictures </a>
        <a href="authors"> Authors </a>
        <a href="museums"> Museums </a>
    </div>
    <div class="box">
        <a href="mapping_pic"> Mapping for Picture </a>
        <a href="mapping_auth"> Mapping for Author </a>
        <a href="mapping_mus"> Mapping for Museum </a>
    </div>

{% endblock %}