{% extends "base.html" %}
{% block title %} Main Page {% endblock %}
{% block content %}
    <h1> Main Page </h1>
    <p><a href="pictures"> Pictures </a></p>
    <p><a href="authors"> Authors </a></p>
    <p><a href="museums"> Museums </a></p>
    <table>
        <form action="create_index_flag">
            <td>
                <input type="submit" value="Create index by flags">
            </td>
        </form>
        <form action="create_index_flag_mapping">
            <td>
                <input type="submit" value="Create index with mapping by flags">
            </td>
        </form>

        <form action="delete_index" method="get">
            <td>
                <input type="submit" value="Delete index">
            </td>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% if message.tags %} class="{{ message.tags }}"{% endif %}{{ message }}
                    {% endfor %}
                </ul>
            {% endif %}

        </form>
        <form action="show_index">
            <td>
                <input type="submit" value="Show index">
            </td>
        </form>
    <form action="show_mapping">
            <td>
                <input type="submit" value="Show mapping">
            </td>
        </form>
    </table>
{% endblock %}