{% extends "base.html" %}
{% block title %} Main Page {% endblock %}
{% block content %}
    <h1> Main Page </h1>
    <p><a href="pictures"> Pictures </a></p>
    <p><a href="authors"> Authors </a></p>
    <p><a href="museums"> Museums </a></p>
    <style>
        .b1 {
            float: left;
            font-size: 14px;
            width: 370px;
        }
    </style>
    <table>
        <form action="create_index_flag">
            <td>
                <input type="submit" value="Create index by flags" class="b1">
            </td>
        </form>
        <form action="create_index_flag_f">
            <td>
                <input type="submit" value="Create index by flags in fields" class="b1">
            </td>
        </form>
        <form action="alien_index1">
            <td>
                <input type="submit" value="alien_index1" class="b1">
            </td>
        </form>
    </table>
    <table>
        <form action="create_index_flag_mapping">
            <td>
                <input type="submit" value="Create index with mapping by flags" class="b1">
            </td>
        </form>
        <form action="create_index_flag_mapping_f">
            <td>
                <input type="submit" value="Create index with mapping by flags in fields" class="b1">
            </td>
        </form>
        <form>
            <td>
                <input type="submit" value="Чужой индекс 2" class="b1">
            </td>
        </form>
    </table>
    <br>

    <form action="delete_index" method="get">
        <td>
            <input type="submit" value="Delete index" class="b1">
        </td>
    </form><br><br>
    <form action="show_index">
        <td>
            <input type="submit" value="Show index" class="b1">
        </td>
    </form><br><br>
    <form action="show_mapping">
        <td>
            <input type="submit" value="Show mapping" class="b1">
        </td>
    </form><br><br>
    <form action="show_log">
        <td>
            <input type="submit" value="Show log file" class="b1">
        </td>
    </form> <br><br>
    <form><textarea cols=100 rows="12">
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    </textarea></form>
{% endblock %}