{% extends "base.html" %}
{% load static %}
{% block title %} Mapping {% endblock %}
{% block content %}
<link href="{% static 'styles/mapp.css' %}" rel="stylesheet">
    <body>
    <h1>Mapping</h1>

    <div class='box'>
        <form action="change_mapp_mus" style="width: 100%">
            <textarea name="mapp">
                {% if res %}
{{ res }}
                {% endif %}
            </textarea>
            <input type="submit" value="Change" class="inp_but">
        </form>
    </div>

{% endblock %}