{% extends "base.html" %}
{% block title %} Mapping {% endblock %}
{% block content %}

    <style>
        h1 {
            font-size: 120%;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #424242;
            text-align: center;
        }

        .box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: static;
        }


        .inp_but {
            width: 100px;
            height: 50px;
            background: #ffffff;
            border: 2px ridge #424242;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .inp_but:hover {
            background: #DCDCDC;
        }

        textarea {
            width: 100%;
            height: 400px;
            margin-bottom: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 2px ridge #424242;
        }

    </style>
    <body>
    <h1>Mapping</h1>

    <div class='box'>
        <form action="change_mapp_pic" style="width: 100%">
            <textarea name="mapp">
                {% if res %}
{{ res }}
                {% endif %}
            </textarea>
            <input type="submit" value="Change" class="inp_but">
        </form>
    </div>

{% endblock %}