{% extends "base.html" %}
{% block title %} Pictures {% endblock %}
{% block content %}
    <form action="create_filter_for_pic">
        <td>
            <b>Let's search</b> <br>
            <input type="text" size="20" name="search_text">
            <input type="submit" value="Search" name="perform_search">
        </td>
    </form>
    <form action="create_es_for_pic">
        <td>
            <input type="text" size="20" name="search_text">
            <input type="submit" value="Search ES" name="perform_search_es">
        </td>
    </form>
    {% if pictures_list %}
        <ul>
            {% for p in pictures_list %}
                <p>
                <li>{{ p.name }} <br> {{ p.note }} <br>
                    {{ p.author.name }} <br> {{ p.author.note }} <br>
                    <br> {{ p.museum.name }}
                </li></p>
            {% endfor %}
        </ul>
    {% else %}
        <p>No pictures are available.</p>
    {% endif %}
{% endblock %}