{% extends "base.html" %}
{% load static %}
{% block title %} Pictures {% endblock %}
{% block content %}
    <link href="{% static 'styles/search.css' %}" rel="stylesheet">
    <h1> Search for pictures in the database using index 'i_picture'</h1>

    <div class='box'>
        <div class='item'>
            <form action="pictures_search">
                <input type="text" onfocus="this.value=''" name="search_text" placeholder="Enter text query"
                       class="inp_1">
                <input type="submit" value="Search ES" name="search_es" class="inp_but">
            </form>
        </div>
    </div>
    <div class='box'>
            <textarea readonly>
                {% if pictures_list %}
                    {% for p in pictures_list %}
picture # {{ p.id }}: {{ p.name }}

note: {{ p.note }}

author: {{ p.auth.name }}

note: {{ p.auth.note }}

museum: {{ p.museum.name }}
----------------------
                    {% endfor %}
                {% endif %}
            </textarea>
    </div>
{% endblock %}